body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
.header {
  background-color: #f5f5f5;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.header h1 {
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}
.header img {
  height: 60px;
  font-family: sans-serif;
}
.container{
  display:flex;
  justify-content: space-between;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.profile .dataholder{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.data{
  display: flex;
  padding-left: 100px;
}

.profile img {
  height: auto;
  max-width: 25vw;
  padding: 10px;
  align-self: center;
}
.profile .info {
  margin-left: 20px;
}
.profile .name {
  font-size: 20px;
  margin: 0;
}
.profile .age-location {
  color: #999;
  font-size: 16px;
  margin: 5px 0;
}
.profile .bio {
  font-size: 16px;
  color: #333;
  margin: 5px 0;
}
.swipe-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}
.swipe-buttons button {
  width: 80px;
  height: 80px;
  border: none;
  font-size: 32px;
  color: white;
}
.swipe-buttons .like {
  background-color: #4caf50;
}
.swipe-buttons .dislike {
  background-color: #f44336;
}