<html>
  <head>
    <title>Swipe! | FindRoomate.com</title>
    <link rel = "stylesheet" href="static/style.css">
    <script>
      if (performance.navigation.type == performance.navigation.TYPE_RELOAD){
        console.info('reloaded!');
        window.location = '/refresh';
      } else {
        console.info('not reloaded');
      }
    </script>
  </head>
  <body>
    <!-- header with the Tinder logo and a message -->
    <div class="header">
      <!--img src="{{url_for('static', filename = 'IMG_0015.jpg')}}" alt="Tinder logo"-->
      <h1>Keep swiping</h1>
    </div>
    <!-- profile information and swipe buttons -->
    <div class="container">
      <img src="./static/intuitAd.png">
      <div class="profile">
        <!-- profile picture and info -->
        <div>
          <img src={{pfimg}} alt="Profile picture">
          <p class ="1">Gender:{{gender}}</p>
          <p class ="2">Smokes:{{smoke}}</p>
          <p class ="3">Candles:{{smoke}}</p>
          <p class ="4">Pets:{{pet}}</p>
          <p class ="5">Play Instrument:{{instrument}}</p>
          <p class ="6">How much do I clean:{{clean}}</p>
          <p class ="7">How often do I cook:{{cook}}</p>
          <p class ="8">How often do I have friends over:{{friends}}</p>
          <p class ="9">Wake up time:{{wake}}</p>
          <p class ="10">Sleep time:{{sleep}}</p>
          <p class ="11">Decorations:{{decorate}}</p>
          <p class ="12">Noisy:{{noise}}</p>
          
        </div>
        <div class="info">
          <h1 class="name">{{ name }}</h1>
          <p class="age-location">{{ age }} | {{ location }}</p>
          <p class="bio">{{ bio }}</p>
        </div>
        <!-- like and dislike buttons -->
        <div class="swipe-buttons">
          <form method="POST" action="{{url_for('like')}}">
            <input class="like" type="submit"  value="Like">
          </form>
          <form method="POST" action="{{url_for('dislike')}}">
            <input class="dislike" type="submit" value="Dislike">
          </form>
        </div>
      </div>
      <img src="./static/ccuAd.png">
    </div>
  </body>
</html>