<html>
  <head>
    <title>Tinder</title>
    <link rel = "stylesheet" href="static/style.css">
    <!--script>
      window.addEventListener('beforeunload', function(event){
        window.location.href = '/refresh';
      });
      console.log()
    </script-->
    <script>
      if (performance.navigation.type == performance.navigation.TYPE_RELOAD){
        console.info('reloaded!');
        window.location = '/refresh';
      } else {
        console.info('not reloaded');
      }
    </script>
  </head>
  <body>
    <!-- header with the Tinder logo and a message -->
    <div class="header">
      <!--img src="{{url_for('static', filename = 'IMG_0015.jpg')}}" alt="Tinder logo"-->
      <h1>Keep swiping</h1>
    </div>
    <!-- profile information and swipe buttons -->
    <div class="profile">
      <!-- profile picture and info -->
      <img src={{pfimg}} alt="Profile picture">
      <div class="info">
        <h1 class="name">{{ name }}</h1>
        <p class="age-location">{{ age }} | {{ location }}</p>
        <p class="bio">{{ bio }}</p>
      </div>
      <!-- like and dislike buttons -->
      <div class="swipe-buttons">
        <button class="like" onclick="runLikeScript()">Like</button>
        <script>
          console.log()
          function runLikeScript() {
            window.location = '/liked';
          }
          
        </script>

        <button class="dislike" onclick="runDislikeScript()">Dislike</button>
        <script>
          function runDislikeScript() {
            fetch('/dislike')
              /*.then((response) => response.text())*/
              alert("Disliked")
          }
        </script>
      </div>
    </div>
  </body>
</html>