<!DOCTYPE html>
<html>
    <head>
        <title>Login! | FindRoommate.com</title>
        <link rel="stylesheet" href="./static/login.css">
    </head>
    <body>
        <header>
            <h1>FindRoommate</h1>
        </header>
        <div class="container">
            <h1>Find a Roommate now!</h1>
            <h2>Enter a username to either create an account or load your data!</h2>
            <form method="POST" action="{{url_for('verify')}}">
               <div class="form">
                   <input type="text" placeholder="Enter Username" name="name" ></input>
                   <button>Submit!</button>
               </div>
            </form>
        </div>
        <footer>
        </footer>
    </body>
</html>